openapi: 3.0.0

info:
    title: GitHub Advanced Security for GitHub Organizations
    description: Skills to retrieve Code Scanning, Dependabot Scanning and Secret Scanning alerts for the default branch of
        all the repositiories (repo) of the specified Organization in GitHub. 
        These scannings are executed by GitHub Advanced Security (GhAS).
    version: "0.0.1"

servers:
  - url: https://api.github.com

paths:
  /repos/{org}/{repository}/contents/:
    get:
      operationId: GetGitHubRepositoryRootDirFileList
      summary: >
        Get the list of files from the root directory of a GitHub repository.
      parameters:
        - in: path
          name: org
          schema:
            type: string
          required: true
          description: GitHub organization name.
        - in: path
          name: repository
          schema:
            type: string
          required: true
          description: GitHub repository name.
      responses:
        '200':
          description: Successful retrieval of list.
        '401':
          description: Unsuccessful authentication.

  /repos/{org}/{repository}/contents/{sub_path}:
    get:
      operationId: GetGitHubRepositoryChildDirFileList
      summary: >
        Get the list of files from any directory specified in a GitHub repository.
      parameters:
        - in: path
          name: org
          schema:
            type: string
          required: true
          description: GitHub organization name.
        - in: path
          name: repository
          schema:
            type: string
          required: true
          description: GitHub repository name.
        - in: path
          name: sub_path
          schema:
            type: string
          required: true
          description: Sub-path inside the GitHub repository.
      responses:
        '200':
          description: Successful retrieval of list.
        '401':
          description: Unsuccessful authentication.

  /repos/{owner}/{repo}/contents/README.md:
    get:
      operationId: GetRootReadmeMarkdownFileContent
      summary: >
        Get raw content of README.md
      description: |
        Returns the raw Markdown content of the README.md file in the given GitHub repository.
        This only works for public repositories.
      parameters:
        - name: owner
          in: path
          required: true
          description: GitHub repository owner (username or organization)
          schema:
            type: string
          example: huggingface
        - name: repo
          in: path
          required: true
          description: GitHub repository name
          schema:
            type: string
          example: transformers
        - name: Accept
          in: header
          required: false
          description: |
            Set to 'application/vnd.github.v3.raw' to get raw content.
            Otherwise returns JSON with Base64-encoded content.
          schema:
            type: string
            default: application/vnd.github.v3.raw
      responses:
        '200':
          description: Raw content of README.md
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # Transformers
                  🤗 Transformers: State-of-the-art Natural Language Processing for Pytorch, TensorFlow, and JAX.
        '404':
          description: Repository or README.md not found
        '403':
          description: Rate limit exceeded or forbidden

  /search/code:
    get:
      operationId: GetListOfAllMarkdownFiles
      summary: >
        Get the list of all the Markdown files from the provided GH repository.
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Search query, including repo and file extension.
          example: repo:huggingface/transformers+extension:md
      responses:
        '200':
          description: Successful retrieval of list of .md files.
        '401':
          description: Unsuccessful authentication.

  /repos/{owner}/{repo}:
    get:
      operationId: GetRepoAboutMetadata
      summary: Get "About" metadata of a GitHub repository
      description: >
        Retrieves general metadata about a GitHub repository, including its description, homepage, topics, visibility, and more.
      parameters:
        - name: owner
          in: path
          required: true
          description: GitHub username or organization that owns the repository
          schema:
            type: string
          example: huggingface
        - name: repo
          in: path
          required: true
          description: Name of the GitHub repository
          schema:
            type: string
          example: transformers
      responses:
        '200':
          description: Repository metadata returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  full_name:
                    type: string
                  description:
                    type: string
                  size:
                    type: string
                  subscribers_count:
                    type: string
                  network_count:
                    type: string
                  stargazers_count:
                    type: string
                  forks:
                    type: string
                  open_issues:
                    type: string
                  watchers:
                    type: string
                  homepage:
                    type: string
                  topics:
                    type: array
                    items:
                      type: string
                  visibility:
                    type: string
                  default_branch:
                    type: string
                  language:
                    type: string
                  html_url:
                    type: string
        '404':
          description: Repository not found
        '403':
          description: Forbidden or rate limited
