openapi: 3.0.0

info:
    title: GitHub Advanced Security for GitHub Organizations
    description: Skills to retrieve Code Scanning, Dependabot Scanning and Secret Scanning alerts for the default branch of
        all the repositiories (repo) of the specified Organization in GitHub. 
        These scannings are executed by GitHub Advanced Security (GhAS).
    version: "0.0.1"

servers:
  - url: https://api.github.com/repos

paths:
  /{org}/{repository}/contents/:
    get:
      operationId: GetGitHubRepositoryRootDirFileList
      summary: >
        Get the list of files from the root directory of a GitHub repository.
      parameters:
        - in: path
          name: org
          schema:
            type: string
          required: true
          description: GitHub organization name.
        - in: path
          name: repository
          schema:
            type: string
          required: true
          description: GitHub repository name.
      responses:
        '200':
          description: Successful retrieval of list.
        '401':
          description: Unsuccessful authentication.

  /{org}/{repository}/contents/{sub_path}:
    get:
      operationId: GetGitHubRepositoryChildDirFileList
      summary: >
        Get the list of files from any directory specified in a GitHub repository.
      parameters:
        - in: path
          name: org
          schema:
            type: string
          required: true
          description: GitHub organization name.
        - in: path
          name: repository
          schema:
            type: string
          required: true
          description: GitHub repository name.
        - in: path
          name: sub_path
          schema:
            type: string
          required: true
          description: Sub-path inside the GitHub repository.
      responses:
        '200':
          description: Successful retrieval of list.
        '401':
          description: Unsuccessful authentication.

